.CommunityPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}

.CommunityPreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.community_card_container {
    width: 1500px;
    height: 600px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.text{
    align-self: self-start;
}
