.MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}

.community_card_container {
    width: 1500px;
    height: 400px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.text{
    align-self: self-start;
}

.community_name{
    margin-bottom: 5vh;
}

.community_image{
    width: 100px;
    height: 100px;
    margin-bottom: 10vh;
}

.join_button{
    width: 5vh;
    height: 5vh;
    background-color: white;
    align-self: flex-end;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.favoriteIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 5vh;
  margin-left: 2vh;
  background-color: antiquewhite;
}



