.CommunityPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}

.CommunityPreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.community_card_container {
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Enable horizontal scrolling */
    flex-wrap: nowrap; /* Prevent flex items from wrapping */
    gap: 20px; /* Optional: adds spacing between cards */
    padding: 10px 0; /* Optional: adds padding inside the container */
}
