.homePage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.images-container {
    display: flex; 
    justify-content: center;
    margin-bottom: 20px;
}

.image1{
    margin-top: 250px;
    margin-bottom: 20px;
}
.image2{
    margin-top: 250px;
    margin-bottom: 20px;
}
.image3{
    margin-top: 15px;
    margin-bottom: 20px;
}
.image4{
    margin-top: 15px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}
.btn{
    background: #9fa4ef35;
    color: #ffffff;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn img{
    width: 25px;
    margin: 5px;
}

.CommunityPreview{
    margin-top: 100px;
}

h4{
    color: white;
}