.LoginPageContainer {
    background-color: #0f112e;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center; /* This will center the children along the cross axis */
    justify-content: flex-start; /* This will align the children at the start of the main axis */
    min-height: 100vh; /* This makes sure your container fills the whole viewport height */
}



