.blog_card {
  flex-shrink: 0;
  width: 35vh; /* Adjust the width to fit two cards per row with spacing */
  height: 20vh; /* Height can be auto for flexibility */
  background: rgba(217, 217, 217, 0.75);
  border-radius: 32px;
  margin: 10px; /* This adds space around the card */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden; /* Ensures the content doesn't overflow */
}

.blog_card:hover {
  background: #292175;
}

.blog_card h3 {
  font-size: 24px;
  margin-bottom: 16px;
  margin-left: 5%;
  display: -webkit-box; /* Ensures compatibility with webkit browsers */
  -webkit-line-clamp: 2; /* Limits the text to 2 lines */
  -webkit-box-orient: vertical; /* Ensures the box orientation is vertical */
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog_card p {
  font-size: 16px;
  margin-left: 5%;
  display: -webkit-box; /* Ensures compatibility with webkit browsers */
  -webkit-line-clamp: 3; /* Limits the text to 3 lines */
  -webkit-box-orient: vertical; /* Ensures the box orientation is vertical */
  overflow: hidden;
  text-overflow: ellipsis;
}
