.CommunityCardSlider {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    justify-content: flex-start;
    flex-wrap: nowrap; 

    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
  }
  
.CommunityCardSlider::-webkit-scrollbar {
   display: none; 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
  
.CommunityCardSlider {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    color: rgb(255, 255, 255);
}


 .ComCard{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5pox);
 }
 
 .ComCardImg {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: auto;
   transition: transform 0.5s, opacity 0.5s;
 }
 
 .ComCard:hover .ComCardImg {
   transform: translate(-50%, -50%) translateY(100px);
   opacity: 0;
 }


.ComCardContent{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: transform 0.7s, opacity 0.5s;
 }

 .ComCardContent:hover{
   transform: translateY(0px);
    opacity: 1;
 }

 h2{
   position: absolute;
   top: -80px;
   right: 30px;
   font-size: 8em;
   color: rgba(255, 255, 255, 0.05);
   pointer-events: none;
 }

 h3{
   font-size: 1.8em;
   color: white;
   z-index: 1;
 }

 p{
   font-size: 1em;
   color: white;
   font-weight: 300;
 }
a{
   position: relative;
   display:  inline-block;
   padding: 8px 20px;
   margin-top: 15px;
   background: #fff;
   color: #000;
   border-radius: 20px;
   text-decoration: none;
   font-weight: 500;
   box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}
