.login-card {
    margin-top: 10%;
    height: 600px;
    width: 100%;
    max-width: 400px; /* Adjust the width as needed */
    padding: 40px;
    background: rgba(217, 217, 217, 0.3);
    border-radius: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .login-form input {
    margin-top: 2%;
    padding: 15px;
    border: none;
    background: rgba(247, 241, 241, 0.32);
    border-radius: 20px;
    margin-bottom: 20px; /* Adjusted spacing */
    color: white;
  }
  
  .login-button {
    margin-top: 5%;
    padding: 10px;
    border: none;
    background: rgba(217, 217, 217, 0.3);
    border-radius: 17px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    width: 45%;
    
  }
  
  .login-button:hover {
    background-color: #4B5AC7; /* Darken the button color on hover */
  }
  
  .login-text {
    text-align: center;
    font-size: 0.9rem;
  }
  
  .login-link, .account-link {
    color: #4C9AFF; /* Adjusted the color */
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-link:hover, .account-link:hover {
    text-decoration: underline;
  }
  