.login_card {
    margin-top: 7%;
    height: 550px;
    /* max-width: 400px;  */
    padding: 30px;
    background: rgba(217, 217, 217, 0.22);
    border-radius: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;

    gap: 20px;
  }
  
  .login_form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .login_form input {
    margin-top: 2%;
    padding: 10px;
    border: none;
    background: rgba(247, 241, 241, 0.23);
    border-radius: 20px;
    margin-bottom: 25px; 
    color: white;
  }
  
  .login_button {
    margin-top: 5%;
    padding: 10px;
    border: none;
    background: rgba(217, 217, 217, 0.3);
    border-radius: 17px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    width: 45%;
    
  }
  
  .login_button:hover {
    background-color: #4B5AC7; /* Darken the button color on hover */
  }
  
  .login_text {
    text-align: center;
    font-size: 0.9rem;
  }
  
  .login_link, .account_link {
    color: #78abed; 
    font-weight: bold;
    background: rgba(148, 134, 134, 0.22);
  }
  
  .login_link:hover, .account_link:hover {
    text-decoration: underline;
    color: black;
    transform: translateY(-3px);
    background-color: #4B5AC7;
  }
  