/* ProfileCard.css */
.profile_card {
    width: calc(90% - 10px);
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.267);
    margin: 20px;
    overflow: hidden; /* Keeps children within the border radius */
    display: flex;
    flex-direction: column;

}

.profile_header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px; /* Add padding as needed */
    cursor: pointer; /* Indicates the header is clickable */
}

.profile_info{
    min-height: 100px;
    overflow: hidden;
    height: auto;
    width: 100%;
    padding: 10px;
    word-wrap: break-word;
    font-size: 16px;
    margin-left: 10px;
}

.profile_header h2 {
    width: 100%;
    flex-grow: 1;
    text-align: left;
    margin: 0;
    padding: 10px; /* Space after the white dot */
}

.TechStackContainer{
    margin-left: 25px;
}

.title{
    margin-left: 3%;
    margin-right: 3%;
}
.white_dot {
    /* Size as needed */
    width: 24px;
    height: 24px;
}

.down_arrow {
    /* Size as needed */
    width: 24px;
    height: 24px;
}

.profile_content {
    height: auto;
    align-self: center;
    width: 90%;
    background: rgba(217, 217, 217, 0.251);
    border-radius: 12px;
}

.edit_icon{
    margin-left: 5px;
    width: 25px;
    height: 25px;
    background-color: aliceblue;
}

.profile_textarea {
    width: 100%; /* Ensures it fills the container */
    height: auto; /* Initially set to auto */
    padding: 10px; /* Padding for text inside textarea */
    border: none; /* Remove border */
    outline: none; /* Remove outline to avoid focus highlight */
    overflow: hidden; /* Prevents scroll bar appearance */
    resize: none; 
    box-sizing: border-box; /* Include padding in width/height calculations */
    background: rgba(247, 241, 241, 0.23); /* Background to match other inputs */
    color: white; /* Text color */
    border-radius: 5px; /* Rounded corners */
    resize: horizontal;
}


