.signup_card {
    margin-top: 7%;
    height: auto; /* Adjust based on content */
    width: 400px;
    /* max-width: 600px; */
    padding: 40px;
    background: rgba(217, 217, 217, 0.22);
    border-radius: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust gap as needed */
  }
  
  .signup_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .signup_form input {
    padding: 2%;
    border: none;
    background: rgba(247, 241, 241, 0.23);
    border-radius: 20px;
    margin-bottom: 25px; 
    margin-top: 10px;
    color: white;
    width: 100%;
  }
  
  .signup_button {
    padding: 15px;
    border: none;
    background: rgba(217, 217, 217, 0.3);
    border-radius: 17px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    width: 50%;
  }
  
  .signup_button:hover {
    background-color: #4B5AC7; /* Darken the button color on hover */
  }

  