@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}
body{
    background: #0f112e;
    background-image: url('./assets/Ellipse 2.png'), url('./assets/Ellipse 3.png'),url('./assets/Ellipse 3.png'),url('./assets/Ellipse 2.png'), url('./assets/Ellipse 2.png'),url('./assets/Ellipse 3.png');
    background-size: 20% auto, 30% auto, 60% auto, 45% auto, 20% auto, 75% auto ; /* Adjust the percentage as needed */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: -10% 100px,115% 80px,-65% 850px, 
                        120% 400px, 75% 1900px, 10% 2300px
                        /* Adjust the 10px value to your desired offset */

}

a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.container{
    padding-left: 5%;
    padding-right: 10%;
}
.btn{
    background: #0f112e;
    color: #ffffff;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
